/*
  * Colors references

  header bg-color: #99ccff;
  footer bg-color: #162b4d;
  header hover: #162b4d;
  text color: #484848;

  .post-1 {
    background: #F3D250;
  }
  .post-2 {
    background: #8D8741;
  }
  .post-3 {
    background: #659DBD;
  }
  .post-4 {
    background: #DAAD86;
  }

  * Feel free to add new colors if you need it
 */


/* Your styles go here */
.post-1 {
  background: #F3D250;
}
.post-2 {
  background: #8D8741;
}
.post-3 {
  background: #659DBD;
}
.post-4 {
  background: #DAAD86;
}

body {
 font-family: 'Roboto', sans-serif;
 margin: 0 auto;
 background: #fff;
}
header {
 width: 100%;
 margin: 0 auto;
}
main {
 margin: 15px auto;
 padding: 0 25px;
}
nav {
 display: flex;
 background: #99ccff;
 flex-direction: row;
 padding: 0 4em;
 align-items: center;
 min-height: 100px;
}
.navbar {
 display: flex;
 flex-direction: row;
 margin: 0 0 0 auto;
 align-items: center;

 vertical-align: center;
 align-self: center;
 height: 100%;
}
.navbar-items {
 display: flex;
 transition: all 0.3s;
 height: 100%;
 width: 110px;
 line-height: 100px;
}
.navbar-items:hover {
 background-color: #162b4d;
 cursor: pointer;
}
.navbar-items a {
 color: #fff;
 text-decoration: none;
 margin: auto;
 font-weight: 100;
 font-size: 19px;
}
.navbar-items a:hover{
 color: #b8b8b8;
}
.logo {
 font-size: 39px;
 font-weight: 100;
}
.logo span:first-child {
 color: #fff;
}
.logo span:last-child {
 color: #162b4d;
}

.container {
 margin: 0 auto;
 display: flex;
 flex-wrap: wrap;
 min-width: 68%;
}
.posts {
 flex: 3;
 padding: 0;
}

.posts li {
 display: flex;
 min-height: 300px;
}

.post-image {
 width: 100%;
 height: 100%;
}
.post-image-wrapper {
 flex: 0 0 49.8%;
 position: relative;
}

.post-1 .post-image-wrapper {
 background: url("../img/post1.jpg");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
.post-1 .post-image-wrapper:hover:after {
 content: "";
 width: 100%;
 height: 100%;
 background: rgba(243, 210, 80, 0.3);
 position: absolute;
 top: 0;
 left: 0;
 cursor: pointer;
}
.post-2 .post-image-wrapper {
 background: url("../img/post2.jpg");
 background-position: center;
 background-size: cover;
}
.post-2 .post-image-wrapper:hover:after {
 content: "";
 width: 100%;
 height: 100%;
 background: rgba(141, 135, 65, 0.3);
 position: absolute;
 top: 0;
 left: 0;
 cursor: pointer;
}

.post-3 .post-image-wrapper {
 background: url("../img/post3.jpg");
 background-position: center;
 background-size: cover;
}
.post-3 .post-image-wrapper:hover:after {
 content: "";
 width: 100%;
 height: 100%;
 background: rgba(101, 157, 189, 0.3);
 position: absolute;
 top: 0;
 left: 0;
 cursor: pointer;
}
.post-4 .post-image-wrapper {
 background: url("../img/post4.jpg");
 background-position: center;
 background-size: cover;
}
.post-4 .post-image-wrapper:hover:after {
 content: "";
 width: 100%;
 height: 100%;
 background: rgba(218, 173, 134, 0.3);
 position: absolute;
 top: 0;
 left: 0;
 cursor: pointer;
}
.post-content {
 color: #484848;
 flex: 1 1 51%;
 padding: 30px;
 position: relative;
}
.post-content:hover {
 color: rgba(255, 255, 255, 0.8);
 cursor: pointer;
}
.post-header {
 font-size: 32px;
 font-weight: 200;
 margin: 0 0 10px;
 line-height: 40px;
}
.posts li:nth-child(odd) .post-header {
 padding-right: 50px;
}
.posts li:nth-child(even) .post-header {
 padding-left: 50px;
}

.post-text {
 font-size: 15px;
 font-weight: 200;
 line-height: 25px;
}
ol.posts li:nth-child(even) {
 flex-direction: row-reverse;
 text-align: right;
}

.post-1 {
 background: #F3D250;
}

.date {
 color: #484848;
 font-weight: 200;
 font-size: 18px;
 position: absolute;
 top: 15px;
 min-width: 60px;
}
.date-left {
 left: 0;
}
.date-right {
 right: 0;
}
.date::first-line {
 font-size: 34px;
}
.post-2 {
 background: #8D8741;
}

.post-3 {
 background: #659DBD;
}

.post-4 {
 background: #DAAD86;
}

section {
 background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.1)), url("../img/section1.jpg");
 display: block;
 padding-top: 230px;
 margin-top: 25px;
 color: #fff;
 background-repeat: no-repeat;
 background-size: cover;
 height: 320px;
}

section .section-content{
  padding: 20px;
}
.news-container {
 margin: 20px 0 20px 20px;
 flex: 1;
 min-width: 32%;
}
.news {
 background: #fff;
 margin-bottom: 20px;
 border: 1px solid #484848;
}
.news-image {
 width: 100%;
 height: 100%;
}
.news-header {
 margin: 40px 40px;
 font-size: 30px;
 font-weight: 100;
}

.news-text {
 font-size: 16px;
 font-weight: 100;
 margin: 20px 40px;
 line-height: 20px;
}
button{
 margin: 30px 40px;
 border: 2px solid #484848;
 background-color: transparent;
 color: #484848;
 padding: 10px 10px;
 font-size: 15px;
 text-transform: uppercase;
}
button:hover{
 cursor: pointer;
 border-top: #fff;
 border-left: #fff;
 border-right: #fff;
}
footer {
 width: 100%;
 margin: 0 auto;
}
.footer-wrapper {
 display: flex;
 background: #162b4d;
 flex-direction: row;
 padding: 1em 2em;
 align-items: center;
 color: #fff;
 flex-grow: 1;
 font-size: 15px;
 font-weight: 200;
 justify-content: space-between;
 line-height: 30px;
}

.copyright p {
 margin: 0;
}

.credits {
 max-width: 130px;
}

.burger {
 display: none;
 width: 25px;
 height: 3px;
 background: #fff;
 position: relative;
}
.burger:before {
 content: "";
 position: absolute;
 left: 0;
 top: 7px;
 width: 100%;
 height: 3px;
 background: #fff;
}
.burger:after {
 content: "";
 position: absolute;
 left: 0;
 top: -7px;
 width: 100%;
 height: 3px;
 background: #fff;
}

@media screen and (max-width: 768px) {
 .banner-header {
   font-size: 32px;
 }
 .posts li {
   flex-wrap: wrap;
 }
 .post-content {
   flex: 1 1 100%;
 }
 .post-image-wrapper {
   min-height: 230px;
   flex: 1 1 100%;
 }
 .posts li:nth-child(even) .post-header {
   text-align: left;
   padding-left: 0;
   padding-right: 50px;
 }
 .date-left {
   right: 30px;
 }
 .post-5 .post-content {
   padding-bottom: 100px;
 }

 .post-5 .date {
   bottom: 30px;
   top: auto;
   left: 0;
   text-align: center;
 }
 .footer-wrapper {
   margin: 15px;
 }
 .navbar {
   display: none;
 }
 .burger {
   display: block;
 }
 .logo {
   margin: 40px auto 0;
 }
 nav {
   padding: 30px 30px 50px;
   flex-direction: column;
 }
 .posts li:nth-child(even) .post-text {
   text-align: left;
 }
 .banner {
   background-size: cover;
   background-position: center bottom;
 }
 .news-container{
   min-width: 180px;
 }
}

@media screen and (max-width: 480px) {
 .container {
   flex-direction: column;
 }

 .posts {
   margin-bottom: 0;
   width: 100%;
 }
 .banner-header,
 .post-header {
   font-size: 32px;
 }
 .news-container {
   margin: 0;
   width: 100%;
 }
 .footer-wrapper {
   flex-direction: column;
   text-align: center;
 }
 .credits {
   max-width: 100%;
 }
}
