#root{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 19px -2px rgba(0,0,0,0.82);
}
#root > ul {
    padding: 0;
}
.folder {
    padding-left: 15px;
}
ul {
    list-style: none;
    padding: 0;
}
.folder > * {
    display: none;
}
li , .empty-folder {
    padding-left: 15px;
}
.element:hover {
    background-color: #efefef;
}
.icon-folder {
    color: #edbc0b;
}
.icon-file {
    color: #bbbbbb;
}
.element {
    display: flex;
    margin: 0;
    font-size: 18px;
}
.element {
    cursor: pointer;
}
.element i {
    padding-right: 3px;
    font-size: 20px;
    vertical-align: bottom;
}
.folder.remove > * {
    display: block;
}
.empty-folder {
    font-style: italic;
    font-size: 18px;
    margin: 0;;
}
