body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 900px;
    margin: auto;    
}
.big-img{
    width: 575px;
    height: auto;
}
.small-img{
    width: 405px;
    height: auto;
}
header{
    background-color: #0b013c;
    color: #FFFFFF;
    position: relative;
    height: 600px;
    width: 100vw;
}
header .bg-img{
    margin-right: 5%;
    background-image: url("../img/header-bg.png");
    background-size: auto 100%;
    height: 600px;
    width: auto;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.header-content{
    padding: 40px 35px;
}
.logo{
    display: block;
    padding: 5px;
    border: 2px solid #FFFFFF;
    width: fit-content;
}
.header-content-info{
    padding-top: 50px;
}
.header-content-info p{
    max-width: 400px;
}
input[type="email"]{
    padding: 12px;
    width: 275px;
}
input[type="submit"]{
    background-color: #f8cb8a;
    border-color: transparent;
    color: #111111;
    padding: 12px 25px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}
input[type="submit"]:hover{
    background-color: #f6bb66;
    border-color: transparent;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
main{
    background-color: #fefaf3;
}
.center-block{
    text-align: center;
    padding: 60px 100px;
}
h1, h2, h3, h4, a{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
hr{
    width: 80px;
    border: 4px solid #f8cb8a;
}
section{
    background-image: url(../img/space-bg.png);
    background-color: #0b013c;
    color: #FFFFFF;
}
.sections{
    padding-bottom: 70px;
}
.section-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 90px;
}
.section-1-text{
    background-color: #FFFFFF;
    padding: 20px;
}
.sections-2-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-2, .section-3{
    max-width: 405px;
    background-color: #FFFFFF;
}
.section-2-3-text{
    padding: 7px 20px;
}
footer{
    background: url(../img/footer-bg.jpeg) no-repeat center;
    background-size: cover;
    padding: 100px 0;
    color: #FFFFFF;
}
.footer-info{
    padding-top: 32px;
}
p{
    font-size: 13px;
}
h1{
    font-size: 85px;
    line-height: 30px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
    font-weight: 400;
}
.logo a{
    font-size: 25px;
}
.section-1-text hr{
    margin-left: 0;
}
