body {
    background: #191a22;
    margin: 0; }
  
  header {
    background-image: url(../img/m-h-night.jpg);
    border-bottom-right-radius: 550px 280px;
    margin-bottom: 25px;
    height: 680px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    header .header-wrap {
      margin-left: 140px;
      margin-right: 800px;
      padding-top: 25px;
      position: relative; }
      header .header-wrap .landing-logo {
        display: flex;
        color: #fff;
        padding-left: 3px; }
        header .header-wrap .landing-logo img {
          display: block;
          width: 42px;
          height: 42px; }
        header .header-wrap .landing-logo p {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 0px;
          margin-left: 14px;
          font-family: "Fresca", sans-serif;
          font-size: 23px;
          letter-spacing: 0.6px;
          line-height: 20px;
          color: #fff; }
          header .header-wrap .landing-logo p span {
            font-size: 10px;
            letter-spacing: 0.1px; }
        header .header-wrap .landing-logo p {
          margin-top: 3px; }
      header .header-wrap .header_heading {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 69px;
        font-weight: bold;
        margin-left: -40px;
        margin-top: 68px;
        word-spacing: -3px;
        line-height: 65px;
        color: #fff;
        position: relative; }
      header .header-wrap .header_heading::before {
        content: "awesome";
        background-color: #ea5b41;
        color: #fff;
        position: absolute;
        line-height: 5px;
        bottom: -5px;
        height: 40px;
        margin-left: -8px; }
      header .header-wrap .header_text {
        font-family: "Fresca", sans-serif;
        text-align: left;
        margin-left: -40px;
        margin-top: 40px;
        line-height: 23px;
        color: #fff;
        white-space: pre; }
      header .header-wrap .header_button {
        display: inline-block;
        background: #dc9e07;
        border-color: transparent;
        color: #fff;
        font-size: 15px;
        padding: 13px 30px;
        font-weight: bold;
        word-spacing: 0.4px;
        height: 45px;
        width: 132px;
        margin-top: 0px;
        margin-left: 5px; }
      header .header-wrap .login {
        margin-left: 140px;
        font-family: "Fresca", sans-serif;
        font-size: 18px; }
  
  main {
    margin: 0 auto;
    width: 900px; }
    main .section_text {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 40px;
      padding-top: 0px;
      color: #fff; }
    main .section_text::after {
      content: "adventure";
      background-color: #ea5b41;
      color: #fff;
      position: absolute;
      height: 42px;
      margin-left: -183px;
      padding-top: 0px; }
    main .section_card {
      border: 2px solid transparent;
      padding: 20px;
      width: auto;
      border-radius: 5px;
      margin: 23px 30px;
      margin-bottom: 20px;
      display: flex;
      background: #2d2f3f;
      height: 215px; }
      main .section_card [src="../img/m-1.jpg"], main .section_card [src="../img/m-2.jpg"], main .section_card [src="img/m-3.jpg"] {
        display: inline-block;
        height: 219px;
        width: 900px;
        margin-left: -5px;
        margin-top: -3px;
        border-radius: 5px; }
      main .section_card .section_card_right_container {
        text-align: center;
        padding: 10px 20px;
        margin: 10px 30px;
        color: #fff; }
        main .section_card .section_card_right_container .section_card_heading {
          font-family: 'Hind', sans-serif;
          font-size: 22px;
          font-weight: bold;
          margin-top: 0px;
          margin-bottom: 0; }
        main .section_card .section_card_right_container .section_card_text {
          color: #b2b6c3;
          font-family: "Fresca", sans-serif;
          text-align: left;
          font-size: 15px;
          padding-left: 25px;
          line-height: 23px;
          margin-bottom: 0; }
        main .section_card .section_card_right_container a {
          padding-top: 30px;
          font-family: "Fresca", sans-serif;
          font-size: 15px;
          padding-bottom: 0; }
  
  p {
    text-align: center;
    margin-bottom: 30px; }
  
  footer {
    background: #2d2f3f;
    margin-top: 28px;
    height: 228px; }
    footer .footer-wrap {
      display: flex;
      flex-direction: row;
      padding-top: 115px; }
      footer .footer-wrap .landing-logo {
        display: flex;
        color: #fff;
        white-space: nowrap;
        margin: 12px;
        padding-left: 132px; }
        footer .footer-wrap .landing-logo img {
          display: block;
          width: 42px;
          height: 42px; }
        footer .footer-wrap .landing-logo p {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 0px;
          margin-left: 14px;
          font-family: "Fresca", sans-serif;
          font-size: 23px;
          letter-spacing: 0.6px;
          line-height: 20px;
          color: #b2b6c3; }
          footer .footer-wrap .landing-logo p span {
            font-size: 10px;
            letter-spacing: 0.1px; }
        footer .footer-wrap .landing-logo p {
          margin-top: 5px; }
      footer .footer-wrap .footer_text {
        margin-top: 2px;
        font-family: "Fresca", sans-serif;
        color: #b2b6c3;
        font-size: 14px;
        line-height: 20px;
        padding-left: 262px;
        padding-right: 300px;
        text-align: left; }
    footer .footer-cr {
      padding-right: 140px;
      white-space: nowrap;
      padding-top: 23px;
      font-family: "Fresca", sans-serif;
      color: #b2b6c3; }
  
  .section_banner {
    border: 1px;
    padding: 20px;
    margin-top: 132px;
    margin-bottom: -98px;
    width: auto;
    height: 95px;
    border-radius: 5px;
    background: linear-gradient(45deg, #d79909 6%, #a75f1c 50%, #7f1c41 100%);
    display: flex;
    flex-direction: row;
    position: relative; }
    .section_banner .section_banner_heading {
      padding-left: 75px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 28px;
      white-space: nowrap;
      font-weight: bold;
      word-spacing: -1px;
      letter-spacing: 0.3px;
      margin-top: 0px;
      color: #fff; }
    .section_banner .section_banner_heading::before {
      content: "start";
      background-color: #ea5b41;
      color: #fff;
      position: absolute;
      line-height: 41px;
      height: 35px;
      margin-left: 115px; }
    .section_banner .section_banner_text {
      margin-left: -45px;
      margin-top: -13px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #b2b6c3;
      letter-spacing: -0.2px; }
    .section_banner .section_banner_button {
      display: inline-block;
      background: #dc9e07;
      border-color: transparent;
      color: #fff;
      font-size: 15px;
      padding: 13px 30px;
      font-weight: bold;
      word-spacing: 0.4px;
      height: 45px;
      width: 132px;
      margin-top: 27px;
      margin-left: 190px; }
  
  a {
    color: #fff; }
  