* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f7f7f7;
    font-family: "Open Sans", sans-serif;
    color: #63812e;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .logo {
    width: 500px;
    margin: 20px auto;
    img {
      width: 100%;
    }
  }
  
  @import './header';
  @import './rulesBlock';
  @import './_gameBlock';