.wrap,
.header {
    width: 70%;
    margin: 0 auto;
}

.nav__btn {
    background: #343a40;
    margin-top: 15px;
}

.footer__form {
    line-height: 37px;
    border-radius: 5px;
}

.footer__btn,
.info__btn {
    background-color: coral;
    border: 0;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    display: block;
    position: relative;
    background: rgb(126, 126, 126);
    height: 2px;
    width: 20px;
    margin-top: 5px;
}

.navbar-toggler-icon::before {
    bottom: 5px;
}

.navbar-toggler-icon::after {
    top: 3px;
}

.card__img {
    position: relative;
}

@media (max-width: 575px) {
    .header__title {
        font-size: 1.7rem;
    }
}
