$map:(
  word1: 'awesome',
  word2:'adventure',
  word3: 'start'
);

@mixin buttonStyle($backgroundColor, $textColor, $fontSize, $fontWeight){
  display: inline-block;
  background:$backgroundColor;
  border-color:transparent;
  color: $textColor;
  font-size: $fontSize ;
  padding: 13px 30px;
  font-weight:$fontWeight;
  word-spacing: 0.4px;
  height: 45px;
  width: 132px;
}
@mixin links($family, $size){
  font-family: $family;
  font-size:$size;
}
@mixin logo($color1, $color2, $font, $size1, $size2){
  display: flex;
  color: $color1 ;
  img{
    display: block;
    width: 42px;
    height: 42px;
  }
  p{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    margin-left: 14px;
    font-family: $font ;
    font-size: $size1 ;
    letter-spacing: 0.6px;
    line-height: 20px;
    color:$color2 ;
    span{
      font-size: $size2 ;
      letter-spacing: 0.1px;
    }
  }
}

body {
    background: $contentBackground;
    margin: 0;
}
header{
  background-image: $backgroundImage;
  border-bottom-right-radius: 550px 280px;
  margin-bottom: 25px;
  height:  680px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .header-wrap{
    margin-left: 140px;
    margin-right: 800px;
    padding-top: 25px;
    position: relative;
    .landing-logo{
      @include logo($headerColor, $headerColor, $fontFamily, 23px, 10px);
      padding-left: 3px;
      p{margin-top: 3px;}
    }
    .header_heading{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 69px;
      font-weight: bold;
      margin-left: -40px;
      margin-top: 68px;
      word-spacing: -3px;
      line-height: 65px;
      color: $headerColor;
      position: relative;
    }
    .header_heading::before{
      content: map-get($map, word1);
      background-color: $backgroundBoxColor;
      color: $headerColor;
      position: absolute;
      line-height: 5px;
      bottom: -5px;
      height: 40px;
      margin-left: -8px;
    }
    .header_text{
      font-family: $fontFamily;
      text-align: left;
      margin-left: -40px;
      margin-top: 40px;
      line-height: 23px;
      color: $headerColor;
      white-space: pre;
    }
    .header_button{
      @include buttonStyle($buttonColor, #fff, 15px, bold);
      margin-top: 0px;
      margin-left: 5px;
    }
    .login{
      margin-left: 140px;
      @include links($fontFamily, 18px);
    }
  }
}
main {
      margin: 0 auto;
      width: 900px;
      .section_text{
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 40px;
          padding-top: 0px;
          color: $headerColor;
      }
      .section_text::after{
        content: map-get($map, word2);
        background-color: $backgroundBoxColor;
        color: $headerColor;
        position: absolute;
        height: 42px;
        margin-left: -183px;
        padding-top: 0px;
      }
      .section_card{
        border: 2px solid transparent;
        padding: 20px;
        width: auto;
        border-radius: 5px;
        margin: 23px 30px;
        margin-bottom: 20px;
        display: flex;
        background: $boxColor;
        height: 215px;
          [src="../img/m-1.jpg"]{
            display: inline-block;
            height: 219px;
            width: 900px;
            margin-left: -5px;
            margin-top: -3px;
            border-radius: 5px;
          }
          [ src="../img/m-2.jpg"]{
            @extend [src="../img/m-1.jpg"];
          }
          [src="img/m-3.jpg"]{
            @extend [src="../img/m-1.jpg"];
          }
        .section_card_right_container{
          text-align: center;
          padding: 10px 20px;
          margin: 10px 30px;
          color: #fff;
          .section_card_heading{
            font-family: 'Hind', sans-serif;
            font-size: 22px;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 0;
          }
          .section_card_text{
            color: $bannerAndFooterFontColor;
            font-family: $fontFamily;
            text-align: left;
            font-size: 15px;
            padding-left: 25px;
            line-height: 23px;
            margin-bottom: 0;
          }
          a{
            padding-top: 30px;
            @include links($fontFamily, 15px);
            padding-bottom: 0;
          }
        }
      }
    }
p{
  text-align: center;
  margin-bottom: 30px;
}
footer{
  background: $boxColor;
  margin-top: 28px;
  height: 228px;
  .footer-wrap{
  display: flex;
  flex-direction: row;
  padding-top: 115px;
  .landing-logo{
    @include logo($headerColor, $bannerAndFooterFontColor, $fontFamily, 23px, 10px);
    white-space: nowrap;
    margin: 12px;
    padding-left: 132px;
    p{
    margin-top: 5px;
    }
  }
  .footer_text{
    margin-top: 2px;
    font-family: $fontFamily;
    color: $bannerAndFooterFontColor;
    font-size: 14px;
    line-height: 20px;
    padding-left: 262px;
    padding-right: 300px;
    text-align: left;
  }
}
.footer-cr{
  padding-right: 140px;
  white-space: nowrap;
  padding-top: 23px;
  font-family: $fontFamily;
  color: $bannerAndFooterFontColor;
  }
}
.section_banner{
  border: 1px ;
  padding: 20px;
  margin-top: 132px;
  margin-bottom: -98px;
  width: auto;
  height: 95px;
  border-radius: 5px;
  background: $gradient;
  display: flex;
  flex-direction: row;
  position: relative;
  .section_banner_heading{
    padding-left: 75px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    white-space: nowrap;
    font-weight: bold;
    word-spacing: -1px;
    letter-spacing: 0.3px;
    margin-top: 0px;
    color: $bannerFontHeadingColor;
  }
  .section_banner_heading::before{
    content: map-get($map, word3);
    background-color: $backgroundBoxColor;
    color: $headerColor;
    position: absolute;
    line-height: 41px;
    height: 35px;
    margin-left: 115px;
  }
  .section_banner_text{
    margin-left: -45px;
    margin-top: -13px;
    font-family: 'Source Sans Pro', sans-serif;
    color: $bannerAndFooterFontColor;
    letter-spacing: -0.2px;
  }
  .section_banner_button{
    @include buttonStyle($buttonColor, #fff, 15px, bold);
    margin-top: 27px;
    margin-left: 190px;
  }
}
a{color: #fff;}
