$contentBackground: #fff;
$backgroundImage: url(../img/m-h-day.jpg);
$boxColor: rgb(25, 26, 34);
$gradient: linear-gradient(45deg, rgba(83,132,16,1) 0%, rgba(83,132,16,1) 24%, rgba(35,64,208,1) 100%);
$buttonColor:rgb(88, 138, 5);
$headerColor: rgb(33, 35, 46);
$bannerFontHeadingColor: rgb(30, 33, 42);
$bannerAndFooterFontColor: rgb(178, 182, 195);
$fontFamily: 'Hind', sans-serif;
$backgroundBoxColor: rgb(75, 158, 195);
