$contentBackground: rgb(25, 26, 34);
$backgroundImage: url(../img/m-h-night.jpg);
$boxColor: rgb(45, 47,63);
$gradient: linear-gradient(45deg, rgba(215,153,9,1) 6%, rgba(167,95,28,1) 50%, rgba(127,28,65,1) 100%);
$buttonColor:rgb(220, 158, 7);
$headerColor: #fff;
$bannerFontHeadingColor: #fff;
$bannerAndFooterFontColor: rgb(178, 182, 195);
$fontFamily: 'Fresca', sans-serif;
$backgroundBoxColor: rgb(234, 91, 65);
