﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}
nav{
  background-image: url(../img/footer-bg.jpg);
  height: 70px;
}
.jumbotron {
  position: relative;
  background:none;
  padding: 18%;
}
.jumbotron:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  z-index: -1;
}
.img-size {
width: 170px;
}
.card {
  border: none;
}
hr {
  width: 80px;
  border-width: 3px;
}
.btn{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.btn-rounded {
  border-radius: 35px;
}
.btn-purple {
  background-image: url(../img/touch-bg.png);
  background-position: center;
  background-size: cover;
  font-size: 22px;
}
.bg-gray{
  background-color: lightgrey;
}
.gallery {
  column-count: 3;
  max-height: 1150px;
  max-width: 75vw;
}
.references-img{
  width: 80%;
  height: auto;
  z-index: 3;
  position: relative;
  left: 50px;
}
.references-img-bg{
  z-index: 1;
  position: absolute;
  top: 115px;
  left: 35px;
}
.dot{
  height: 15px;
  width: 15px;
  background-color: rgb(93, 69, 108);
  border-radius: 50%;
  display: inline-block;
}
.opacity-2 {
  opacity:0.4;
}
.bg-black{
  background-color: black;
}
.footer{
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


  