body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #666666;
  background-color: #f4f4f4;
}

p, q { line-height: 1.8; }
h2 { font-size: 1.8rem; }

.tm-site-name {
    font-size: 4rem;
}

.tm-quote {
    font-size: 1.35rem;
    font-style: italic;
    display: block;
}

.container {
    margin-top: 30px;
}

.tm-container-inner {
    margin: 0 auto;
    max-width: 880px;
}

.tm-section {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.tm-space{
  display: flex;
    flex-direction: row;
  justify-content: space-around;
}

.tm-pricing-discount {
    display: none;
}

.tm-pricing-discount__star {
    color: black;
}

.tm-pricing-discount__text {
    color: black;
}

.tm-section,
.tm-section-min-h {
    min-height: 400px;
}

.tm-flex-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-flex-col {
    flex-direction: column;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    padding: 12px 47px;
    font-size: 1.15rem;
}

.btn-primary {
    background: black;
    border-color: black;
}

.btn-secondary {
    background: black;
    border-color: black;
}

.tm-bg-color-primary { background-color: black }
.tm-bg-color-secondary { background-color: black }

.tm-text-color-primary { color: black }
.tm-text-color-white { color: white; }

.tm-font-thin { font-weight: 300; }
.tm-max-w-400 { max-width: 400px; }

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666666;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666666;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #666666;
}

.tm-contact-form select,
.tm-contact-form input {
    color: #666;
}

.tm-contact-form textarea {
    height: 205px;
}

.tm-pricing-table {
    border: 1px solid black;
    width: 100%;
    max-width: 340px;
}

.tm-pricing-header {
    padding: 20px;
}

.tm-pricing-body {
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tm-pricing-header-title {
    font-size: 1.6rem;
}

.tm-feature-list {
    list-style: none;
    margin: 0;
    line-height: 2.4;
    padding: 35px 50px;
}

.tm-form-header {
    background: black;
    padding: 40px 40px 90px;
}

.tm-form-footer {
    padding-top: 100px;
    padding-bottom: 30px;
}

.tm-footer-info-box {
    max-width: 260px;
    margin: 0 auto;
}

.tm-contact-form {
    padding: 68px;
    background: white;
    position: relative;
}

.img-fluid {
    width: 100%;
    height: 100%;
    
}

.p-5{
  padding: 5px;
}
.form-control {
    color: #666;
    font-size: 1.2rem;
    padding: 12px 20px;
    border-radius: 0;
}

.tm-contact-form select {
    width: 100%;
    padding: 15px;
}

.tm-center {
    width: 100%;
    text-align: center;
}

.tm-copyright-text {
    padding: 20px;
    font-size: 1rem;
}

.rounded-circle {
    height: 300px;
    width: 300px;
    background-image: url("../img/image-04.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.tm-col-md-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.tm-bg-color-primary{
  background-color: #76cdd8;
}
.tm-mb-30{
  margin-bottom: 30px;;
}
.btn, .tm-bg-color-secondary{
  background-color: rgb(70, 150, 151);
  border-color: inherit;
}
.tm-form-header{
  background-color: rgb(104, 209, 210);
}
.tm-text-color-primary{
  color: #76cdd8;
}
div .tm-contact-form{
  position: relative;
  z-index: 2;
  top: -50px;
}
.tm-form-footer{
  position: relative;
  z-index: 1;
  margin-top: -100px;
}
.tm-section .tm-pricing-table{
  border: 1px solid rgb(70, 150, 151);
}
.tm-section .tm-pricing-table:hover{
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.tm-section .tm-pricing-table:hover .btn-secondary{
  background: #24d4d4;
}
.tm-pricing-discount__star{
  color: red;
}
.tm-pricing-discount__text{
  color: #24d4d4;
}
.tm-section .tm-pricing-table:hover .tm-pricing-discount{
  display: inline;
  font-size: 14px;
  font-weight: bold;
}
.row .tm-section .tm-card{
  position: relative;
}
 .tm-section.tm-card:nth-child(2n):hover::before
 {
     content: "";
     position: absolute;
     left: 0px;
     width: 100px;
     height: 100px;
     border-top: 100px solid rgb(118,205,216);
     border-right: 100px solid transparent;
 }
 .tm-section.tm-card:nth-child(2n+1):hover::before
 {
     content: "";
     position: absolute;
     right: 0px;
     width: 100px;
     height: 100px;
     border-top: 100px solid rgb(118,205,216);
     border-left: 100px solid transparent;
 }
.tm-section.tm-card:hover .tm-quote{
   color: #76cdd8;
}
.tm-section:hover .btn-primary{
  background-color: rgb(118, 205, 216);
  border-color: inherit;
}
.img-fluid:hover{
  transform: scale(1.07, 1.07);
}
.form-control:focus,
.form-group select:focus {
  border-color:#33d8d7; 
  box-shadow: 0 0 0 0.2rem #33d8d7;
}
.btn-primary:hover{
  background-color: rgb(118, 205, 216);
  border-color: inherit;
}