body {
  padding: 0 4em;
}

body nav ul {
  display: flex;
  padding-left: 0;
}

body nav ul li {
  display: inline-block;
  list-style: none;
  width: 100%;
}

body nav ul li a {
  display: block;
  padding: 0.5em;
  width: auto;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 2px;
  margin-top: 1.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 6px 1px rgba(255, 194, 204, .2);
}

body nav ul li a:hover {
  background-color: rgba(255, 194, 204, .2);
  font-weight: bold;
}

body nav ul li a:visited {
  color: black;
}

h1 {
  margin-top: 2em;
  margin-bottom: 1em;
}
h2 {
  margin-bottom: 1em;
}
.root {
  margin-top: 2em;
}

.unitItem li {
  padding: 15px 15px 15px 0;
}

.unitItem p {
  padding-right: 15px;;
}

.ulLevelItem {
  padding-top: 15px;
  padding-bottom: 15px;
}
.ulLevelItem ul {
  margin-top: 15px;
  margin-bottom: 15px;
}

.warningUlItem {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  list-style-position: inside;
}
.warningUlItem  p {
  padding-top: 15px;
}
.warningUlItem  li {
  padding-left: 15px;
}