.tm-col-md-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.tm-bg-color-primary{
    background-color: #76cdd8;
}
.tm-mb-30{
    margin-bottom: 30px;;
}
.btn, .tm-bg-color-secondary{
    background-color: rgb(70, 150, 151);
    border-color: inherit;
}
.tm-form-header{
    background-color: rgb(104, 209, 210);
}
.tm-text-color-primary{
    color: #76cdd8;
}
div .tm-contact-form{
    position: relative;
    z-index: 2;
    top: -50px;
}
.tm-form-footer{
    position: relative;
    z-index: 1;
    margin-top: -100px;
}
.tm-section .tm-pricing-table{
    border: 1px solid rgb(70, 150, 151);
}
.tm-section .tm-pricing-table:hover{
    box-shadow: 0 0 0 0.2rem #24d4d4;
}
.tm-section .tm-pricing-table:hover .btn-secondary{
    background: #24d4d4;
}
.tm-pricing-discount__star{
    color: red;
}
.tm-pricing-discount__text{
    color: #24d4d4;
}
.tm-section .tm-pricing-table:hover .tm-pricing-discount{
    display: inline;
    font-size: 14px;
    font-weight: bold;
}
.row .tm-section .tm-card{
    position: relative;
}
   .tm-section.tm-card:nth-child(2n):hover::before
   {
       content: "";
       position: absolute;
       left: 0px;
       width: 100px;
       height: 100px;
       border-top: 100px solid rgb(118,205,216);
       border-right: 100px solid transparent;
   }
   .tm-section.tm-card:nth-child(2n+1):hover::before
   {
       content: "";
       position: absolute;
       right: 0px;
       width: 100px;
       height: 100px;
       border-top: 100px solid rgb(118,205,216);
       border-left: 100px solid transparent;
   }
 .tm-section.tm-card:hover .tm-quote{
     color: #76cdd8;
 }
 .tm-section:hover .btn-primary{
    background-color: rgb(118, 205, 216);
    border-color: inherit;
 }
 .img-fluid:hover{
    transform: scale(1.07, 1.07);
 }
 .form-control:focus,
.form-group select:focus {
    border-color:#33d8d7; 
    box-shadow: 0 0 0 0.2rem #33d8d7;
}
.btn-primary:hover{
    background-color: rgb(118, 205, 216);
    border-color: inherit;
}