/* START: Task 1 Styles */
td{
    text-align: center;
    border: 2px solid #000000;
    width: 100px;
    height: 100px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */

/* END: Task 2 Styles */

/* START: Task 3 Styles */

/* END: Task 3 Styles */
